body {
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.2em;
  background-color: black;
  position: relative;
}

h1 {
  margin: 0;
  font-size: 3.8em;
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.8rem;
}

nav {
  position: absolute;
  right: 0.8rem;
  top: 1.6rem;
}

nav a {
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 0.6rem;
  background-color: #202020;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #666;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

.search-input {
  width: 100%;
  max-width: 60rem;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 35px;
  border: 0.1rem solid #ddd;
  font-size: 1.1rem;
  outline: none;
  display: block;
  background-color: #222;
  color: white;
  margin-top: 1.2rem;
}

.filter-form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.filter-form select {
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #222;
  color: white;
  border: 0.1rem solid #ddd;
}

.items-list {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  overflow-x: auto;
  margin-top: 1rem;
  padding: 1rem;
  flex-wrap: nowrap;
}

.item-card {
  background-color: #202020;
  color: white;
  padding: 0.1rem;
  border-radius: 16px;
  width: 18em;
  height: 36rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.item-card:hover {
  box-shadow: 0 0 0.8em rgba(255, 255, 255, 0.8);
}

.item-card h3 {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

.item-card p {
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 3.6rem;
  margin: 0;
  text-align: center;
  padding: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.item-thumbnail {
  width: 100%;
  height: auto;
}

button {
  background-color: #202020;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

button:hover {
  background-color: #666;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  text-align: center;
}

.landing h2 {
  font-size: 2rem;
  /* margin-bottom: 1.5rem; */
}

.landing button {
  margin: 1rem;
  /* padding: 15px 30px; */
  font-size: 1.5rem;
}
